body{
    background: lightgray;
}

svg{
    background: white;
}


div#tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: auto;
    padding: 5px;
    font: 12px sans-serif;
    background: rgba(255, 255, 255, 0.75);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
  }